<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>after Login</title>
</head>
<body>
    <h1>You Logged In Successfully, We redirecting you to Rohit Manathiya LinkedIn Page</h1>
    <script>
        setTimeout(()=>{
            window.location.replace("https://www.linkedin.com/in/rohit-manathiya-3530951a7/");
        },8000)
    </script>
    
</body>
</html>