
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{!-- <h1>this is render page rohit</h1> --}}
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                
                <button type="button" class="toggle-btn">Register</button>
            </div>


            <form action="/register" method="POST" class="input-group" id="register"> 
            <input type="text" name="name" class="input-field" placeholder="Name" required>
            <input type="text" name="email" class="input-field" placeholder="Email" required >
            <input type="number" name="phone" class="input-field" placeholder="Phone" required>
            <input type="text" name="state" class="input-field" placeholder="state" required>

            <input type="password" name="password" class="input-field" placeholder="Create Password">
            <button type="submit" class="submit-btn">Submit</button>

            
        </div>
        {{!-- <div class="social-icons"></div> --}}
        
    </div>
    
</body>
</html>